.dealer-dashboard {
  display: flex;
}

.dealer-dashboard-sidebar {
  width: 200px;
  padding: 20px;
}

.dealer-dashboard-sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.dealer-dashboard-sidebar button:hover {
  background-color: #666;
}

.dealer-dashboard-sidebar .active-tab {
  background-color: #1e90ff; /* 선택된 버튼의 색상 */
  color: #fff;
  font-weight: bold;
}

.dealer-dashboard-content {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.dealer-dashboard-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dealer-dashboard-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.dealer-dashboard-applicant-info,
.memo-section {
  width: 45%;
}

.dealer-dashboard-memo-section textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.dealer-button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.dealer-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  outline: none;
  box-shadow: none;
}

.dealer-close-button:focus {
  outline: none;
}

.dealer-close-button:hover {
  background: transparent;
  color: #333;
}
