/* footer.css */

.footer {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid #5d5d5d;
}

.footer-logo {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}

.footer-logo::after {
  content: "";
  display: block;
  margin: 5px auto 0;
}

.footer-copyright {
  margin-bottom: 10px;
  color: #aaa;
}

.footer-text {
  margin-bottom: 5px;
  color: #aaa;
  font-size: 12px;
}

.footer-additional {
  color: #aaa;
  font-size: 12px;
}

.logo-colored {
  color: #ff4500;
}
